header{
    text-align: center;
}

.titulo {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background-image: url(/img/background/pexels-photo-1227511.jpeg);
    border: 10px dashed blue;
}

.subtitulo{
    color: white;
    background-color: black;
    margin-left: 30%;
    margin-right: 30%;
}
